@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0;
    display: grid;
    font-weight: 400;
    color: #747474;
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
}



header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    background-color: white;
    z-index: 9999;
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, .15);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    max-width: 1015px;
}

#about_us {
    color: #00b39b;
}

#career {
    transition: all 0.1s ease-in;
}

#career:hover {
    color: #00b39b;
}

#departments:hover {
    color: #00b39b;
}

.nav-menu {
    display: flex;
    justify-items: space-between;
}

.nav-menu a {
    margin-left: 0.5rem;
}

.head_section {
    justify-content: center;
    justify-items: center;

}

.p1,
.p2 {
    padding: 1rem;
    box-sizing: border-box;
    width: 50%;
    color: gray;
    line-height: 1.75;
    font-weight: 400;

}

::selection {
    background: #00b39b;
    color: #fff;
    text-shadow: none;
}

.body_section {
    margin-top: 3.75rem;
    margin-right: auto;
    margin-bottom: 2.5rem;
    margin-left: auto;
}

section {
    max-width: 1015px;
    width: 100%;
    margin: 0 auto;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 10px;
    align-content: stretch;

}

main {
    margin-top: 56px;
    padding: 0 1rem;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}



.title1 {
    font-size: 1rem;
    color: #00b39b;
    font-weight: 300;
}

.title1 h1 {
    font-size: 2.125rem;
    font-weight: 300;
}

.firstp {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    width: calc((100% / 3) - 16px);
    min-height: 300px;
    box-sizing: border-box;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 22px 20px 0 20px;
    transition: opacity 0.15s ease-in;
}

.box h1, .box h2 {
    text-align: left;
}

.box:hover {
    opacity: 0.9;
}

.box:last-child {
    width: calc(100% / 3);
    margin-right: 0;
}

#boxe1 {
    background-color: #00b39b;
    color: white;
    box-sizing: border-box;
    margin-bottom: 1rem;
    border-radius: 1rem;


}

#boxe1 h1 {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1;
}

#boxe1 h2 {
    display: block;
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.2;
    letter-spacing: -.3px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.button1 {
    width: 100%;
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0 2em 0 0;
    outline: 0;
    text-transform: none;
    text-decoration: underline;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    margin: 0.5rem;
}

.button1 option {
    color: black;
}

.button1:last-child {
    margin-bottom: 35px;
}

.button1::after {
    background: url(https://www.docplanner.com/icons/icon-caret-white.svg);
}

#boxe2 {
    background-color: #3d83df;
    color: white;
    box-sizing: border-box;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

#boxe2 h1 {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1;
}

#boxe2 h2 {
    display: block;
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.2;
    letter-spacing: -.3px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

#boxe3 {
    background-color: #1b2734;
    color: white;
    box-sizing: border-box;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

#boxe3 h1 {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1;
}

#boxe3 h2 {
    display: block;
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.2;
    letter-spacing: -.3px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.main {
    margin-top: 56px;
    padding: 0 1rem;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

.second_floor h1 {
    float: left;
    width: 33%;
    font-size: 1.625em;
    margin-right: -10px;
    margin-left: -10px;
    padding-right: 1em;
    color: #00b39b;
    font-weight: 300;
    letter-spacing: -.3px
}

.third_floor {
    background: #e5faf8;
    background-color: linear-gradient(-45deg, rgba(0, 204, 177, .01) 5%, rgba(61, 199, 223, .1));
    background-image: url(doc.png);
    background-repeat: no-repeat;
    background-position: 20px 150%;
    max-width: 100%;
    width: 100%;
    margin: 3.125rem auto 5.5rem;
}

.third_floor .wrapper {
    display: flex;
    max-width: 1015px;
    padding: 1.875rem 0 .625rem;
    margin: 0 auto;
}

.third_floor .col {
    width: 50%;
    padding: 0 20px;
}

.head_third {
    width: 100%;
    float: none;
    text-align: left;
}

.head_third h1 {
    margin: 0;
    color: #00b39b;
    font-size: 2.125rem;
    font-weight: 300;
    letter-spacing: -.3px;
    text-align: left;
}

.head_third p {
    font-size: .875em;
    font-weight: 400;
    line-height: 1.7142857143;
}

.brands {
    display: flex;
    flex-wrap: wrap;
}

.brands a {
    display: block;
    padding: 10px 0 10px 10px;
}

.brands a svg {
    height: 20px;
    width: auto;
    fill: #747474;
    transition: fill 0.15s ease-in;
}

.brands a:hover svg {
    fill: #00b39b;
}

.brands a img {
    height: 20px;
    width: auto;
    filter: grayscale(1);
    transition: filter 0.15s ease-in;
}

.brands a:hover img {
    filter: grayscale(0);
}
.last-thing{
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}
.fourth-floor{
    margin: 0 auto 4.1875rem;
    max-width: 460px;
    font-size: 0.875rem;
}
.improve-title h1 {
    text-align: center;
    margin: 0;
    font-size: 2rem;
    font-weight: 300;
    color: #00b39b;
    letter-spacing: -.3px;
    }

.improve-paragraphe p {
    align-items: center;
    max-width: 460px;
    margin: 1.6rem 0;
    
}

.cards {
    display: flex;
}

.card-col {
    width: 50%;
    padding: 0 10px;
}

.card-col .card {
    width: 100%;
    height: 250px;
    background-color: white;
    border-radius: .5rem;
    margin-bottom: 20px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .05);
    padding: 1rem;
}

.card-col:first-child {
    padding-top: 30px;
}
.card{
    display: table;
    width: 100%;
    height: 100%;
}
.card-col h3 {
    color: #00b39b;
    font-size: 1.5rem;
    font-weight: 300;
}

.offices {
    display: flex;
    flex-wrap: wrap;
}

.office-card {
    position: relative;
    display: block;
    margin: 10px;
    width: calc((100% / 3) - 20px);
    border-radius: 0.5rem;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .03);
    text-decoration: none;
    color: #747474;
    transition: box-shadow 0.15s ease-in;
}

.office-card:hover {
    box-shadow: 0 20px 50px 0 rgba(0,0,0,.13);
}

.office-card img {
    width: 100%;
    height: auto;
}

.office-card .office-info {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.office-cta {
    font-size: .625rem;
    padding: 1em 1.5em;
    text-transform: uppercase;
    background-color: #1662c6;
    color: white;
    border-radius: 0.25rem;
}